/* Footer.css */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4; /* Fondo gris claro para el footer */
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
  }
  
  .footer-title {
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  